# Materials Project API key
# Obtain from: https://materialsproject.org/api
MP_API_KEY=your_materials_project_api_key

#Hugging Face API key
# Obtain from: https://huggingface.co/settings/tokens
HF_API_KEY=your_hugging_face_api_key
